DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=P&rfecT11@
DB_NAME=brelness
PORT=3001
ALLOWED_ORIGINS=http://localhost:3000,https://your-frontend.render.com
DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require
